.footer {
    display: flex;
    flex-direction: column;
    padding: 25px 5dvw 0 5dvw;
    background-color: #100E1A;
}

.sections,
.copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sections {
    align-items: baseline;
    margin-bottom: 10px;
}

.sectionName {
    font-size: 20px;
    font-weight: 700;
    color: var(--scnd-color);
}

.section ul li,
.sectionName,
.copyright div {
    color: var(--scnd-color);
}

.section ul li {
    margin-top: 5px;
}

.section ul li a:hover {
    color: var(--txt-hover-color);
}

.footer hr {
    border: none;
    border-top: 0.1px solid var(--scnd-color);
}

.copyright {
    padding: 15px 0;
}

.copyright div {
    font-size: 14px;
}

.copyright .onegate {
    text-align: right;
}

@media screen and (max-width: 767px) {
    .sections {
        flex-direction: column;
        align-items: center;
    }

    .sections .section {
        margin-bottom: 20px;
        text-align: center;
    }

    .copyright div{
        font-size: 12px;
    }
}