@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #020009;
  --imp-color: #724BF4;
  --scnd-color: #89878F;
  --txt-hover-color: #ffffff;
}

* {
  box-sizing: border-box;
  color: white;
}

body {
  overflow-x: hidden;
  width: 100dvw;
  min-height: 100dvh;
  background-color: var(--bg-color);
}

a:visited {
  text-decoration: none;
}
