.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.8dvh 5dvw;
}

.menu-bar {
    display: none;
}

.navlinks-mob {
    width: 100dvw;
    background: var(--imp-color);
    position: fixed;
    bottom: 0;
    top: 0;
    right: -100dvw;
    transition: 0.5s;
}

.navlinks-mob {
    display: flex;
    flex-direction: column;
    padding: 100px;
}

.navlinks-mob>a {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 5vw;
}

.logo {
    font-weight: 700;
    font-size: 28px;
    color: var(--imp-color);
}

.navbar .navlinks {
    width: 30dvw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--scnd-color);
}

.navbar .navlinks a:hover {
    color: var(--txt-hover-color);
}

.actionBtn {
    background: linear-gradient(92.15deg, var(--imp-color) 100%, #3800F4 0%);
    font-weight: 600;
    padding: 8px 30px;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;
}

.actionBtn:hover {
    opacity: 0.8;
}

.main-carousel {
    margin-top: 100px;
    height: 500px;
}

@media screen and (max-width: 767px) {
    .navbar .navlinks,
    .navbar .actionBtn {
        display: none;
    }

    .navbar .menu-bar {
        display: block;
    }
}